/* .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    padding: 20px;
    box-sizing: border-box;
  } */
/* Default styling */
.Grid_Container {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* Adjust this to control number of images per row */
  grid-auto-rows: minmax(200px, auto);
  gap: 10px; /* Adjust this to control space between images */
  padding: 10px; /* Adjust this to control space around the grid */
  box-sizing: border-box;
}

.Grid_Item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Styling for mobile screens */
@media screen and (max-width: 768px) {
  /* Adjust this value according to your needs */
  .Grid_Container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
