.container {
  position: relative;
  background: none;
  min-height: 100vh;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  clip-path: inset(0 66% 0 0);
  background: var(--blue-300);
  background: linear-gradient(45deg, var(--blue-400) 0%, var(--blue-200) 100%);
  /* transition: clip-path 2s ease-in-out; */
}

.container.signup::before {
  clip-path: inset(0 0 0 66%);
}

.panel-container {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
}

.signup .panel-container {
  left: 84%;
}

.form-container {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
  transition: left calc(2 * var(--auth-tween-time)) ease-in-out;
}

.signup .form-container {
  left: 33%;
}

/* NOTE: cant use 0%,50%,100% since I want different easing fn from 0->50 and 50->100
and not sure if that can be done with 1 keyframe */
@keyframes login2signup1 {
  from {
    clip-path: inset(0 0 0 66%);
  }
  to {
    clip-path: inset(0 25% 0 25%);
  }
}
@keyframes login2signup2 {
  from {
    clip-path: inset(0 25% 0 25%);
  }
  to {
    clip-path: inset(0 66% 0 0);
  }
}

@keyframes signup2login1 {
  from {
    clip-path: inset(0 66% 0 0);
  }
  to {
    clip-path: inset(0 25% 0 25%);
  }
}
@keyframes signup2login2 {
  from {
    clip-path: inset(0 25% 0 25%);
  }
  to {
    clip-path: inset(0 0 0 66%);
  }
}

.login2signup::before {
  animation: login2signup1 var(--auth-tween-time) ease-in 0s 1 normal forwards,
    login2signup2 var(--auth-tween-time) ease-out var(--auth-tween-time) 1
      normal forwards;
}
.signup2login::before {
  animation: signup2login1 var(--auth-tween-time) ease-in 0s 1 normal forwards,
    signup2login2 var(--auth-tween-time) ease-out var(--auth-tween-time) 1
      normal forwards;
}

@keyframes signup-out1 {
  from {
    left: 16%;
  }
  to {
    left: -10%;
  }
}
@keyframes signup-out2 {
  from {
    left: 110%;
  }
  to {
    left: 84%;
  }
}

@keyframes login-out1 {
  from {
    left: 84%;
  }
  to {
    left: 110%;
  }
}
@keyframes login-out2 {
  from {
    left: -10%;
  }
  to {
    left: 16%;
  }
}

.signup-out {
  animation: signup-out1 var(--auth-tween-time) ease-out 0s 1 normal forwards,
    signup-out2 var(--auth-tween-time) ease-out var(--auth-tween-time) 1 normal
      forwards;
}
.login-out {
  animation: login-out1 var(--auth-tween-time) ease-out 0s 1 normal forwards,
    login-out2 var(--auth-tween-time) ease-out var(--auth-tween-time) 1 normal
      forwards;
}

@media (max-width: 768px) {
  .container::before {
    clip-path: inset(66% 0 0 0);
  }

  .container.signup::before {
    clip-path: inset(0 0 66% 0);
  }

  .panel-container {
    top: 83%;
    left: 50%;
  }

  .signup .panel-container {
    top: 17%;
    left: 50%;
  }

  .form-container {
    top: 33%;
    left: 50%;
    transition: top calc(2 * var(--auth-tween-time)) ease-in-out;
  }

  .signup .form-container {
    top: 66%;
    left: 50%;
  }

  @keyframes login2signup1 {
    from {
      clip-path: inset(0 0 66% 0);
    }
    to {
      clip-path: inset(15% 0 15% 0);
    }
  }
  @keyframes login2signup2 {
    from {
      clip-path: inset(15% 0 15% 0);
    }
    to {
      clip-path: inset(66% 0 0 0);
    }
  }

  @keyframes signup2login1 {
    from {
      clip-path: inset(66% 0 0 0);
    }
    to {
      clip-path: inset(15% 0 15% 0);
    }
  }
  @keyframes signup2login2 {
    from {
      clip-path: inset(15% 0 15% 0);
    }
    to {
      clip-path: inset(0 0 66% 0);
    }
  }

  @keyframes signup-out1 {
    from {
      top: 83%;
    }
    to {
      top: 110%;
    }
  }
  @keyframes signup-out2 {
    from {
      top: -10%;
    }
    to {
      top: 17%;
    }
  }

  @keyframes login-out1 {
    from {
      top: 17%;
    }
    to {
      top: -10%;
    }
  }
  @keyframes login-out2 {
    from {
      top: 110%;
    }
    to {
      top: 83%;
    }
  }
}
